<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mdias.famcal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>famcal</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.555073180680-eku35n9vu7rgvr8nohtc0l5dai0fi5av</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6842193682076971~7907201759</string>
	<key>GIDClientID</key>
	<string>555073180680-eku35n9vu7rgvr8nohtc0l5dai0fi5av.apps.googleusercontent.com</string>
	<key>NSCalendarsWriteOnlyUsageDescription</key>
	<string>FamCal writes new family events, reminders, alerts, and travel time blocks to your calendars.</string>
	<key>NSPrivacyCalendarsUsageDescription</key>
	<string>FamCal needs access to your calendars to display family members' events and sync them.</string>
	<key>NSPrivacyContactsUsageDescription</key>
	<string>FamCal uses your contacts to help identify family members' calendars automatically.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>FamCal sends notifications for upcoming family events and morning summaries.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAccount</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Sign Out</string>
			<key>UIApplicationShortcutItemType</key>
			<string>mdias.famcal.logout</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
