<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionCategory</key>
			<array>
				<string>EVENT_NOTIFICATION</string>
				<string>MORNING_BRIEF</string>
			</array>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>2.5</real>
			<key>UNNotificationExtensionDefaultContentHidden</key>
			<true/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content</string>
	</dict>
</dict>
</plist>
